html {
    --background: #f6f6f6;
    --gray-200: #222222;
    --gray-400: #3a3a3a;
    --gray-600: #292929;
    --gray-900: #111111;
}

html.dark {
    --background: #1a1919;
    --gray-200: #eaeaea;
    --gray-400: #c5c5c5;
    --gray-600: #ffffff;
    --gray-900: #fafafa;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    line-height: 1.25;
    color: var(--gray-600);
    background: var(--background);
    padding: 0 0.5rem;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

h1 + h2 {
    font-size: 1.1rem;
    margin-top: -1.4rem;
    opacity: 0.9;
    font-weight: 400;
}

main {
    max-width: 40rem;
    margin: auto;
}

p, li {
    font-size: 1rem;
    font-weight: 450;
    opacity: 0.8;
}

li {
    margin: 1rem 0;
}